@model Lab07.Models.products.Product

<h2>Usuń produkt</h2>

<p>Czy na pewno chcesz usunąć: <b>@Model.Name</b>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id"/>
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>