@model CalculatorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WSEI ASP.NET Lectures</h1>
    <div class="align-content-around d-flex justify-content-center">
        <img src="/img/img1.png" alt="Random image" width="800"/>
    </div>
</div>