@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wykład 4</h1>
</div>
<p>Przykład aplikacji zintegrowanej z bazą danych w podejściu Code First</p>
<p>Przykład w przygotowaniu</p>