@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wykład 2</h1>
</div>
    <p>Projekt zawiera przykład kontrolera MVC z operacjami CRUD</p>
<ul>
    <li>klasa <code>BookController</code> zawiera metody akcji do realizacji CRUD</li>
    <li>klasa <code>Book</code> jest modelem</li>
    <li>Pliki w folderze <code>Views\Book</code> zawierają definicje widoków</li>
    <li>Pliki w folderze <code>Views\Shared\DisplayTemplates</code> zawarte są szablony widoków dla klasy <code>Book</code></li>
    <li>W pliku <code>Views\Book\Index.cshtml</code> znajdują się przykąłdy tworzenia linków do akcji</li>
</ul>
<p>Sprawdź komentarze w klasach, aby zobaczyć szczegóły działania aplikacji</p>