@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wykład 8</h1>
</div>
<p>Przykład ilustrujący działanie kontrolera WebApi w technologii REST</p>
<p>Klasa <code>ApiBookController</code> realizuje proste API typu CRUD</p>
<p>Test aplikacji można wykonać za pomocą żądań zapisanych w pliku <code>requests.http</code>.</p>
<p>Źądania należy wysyłać ze środowiska Rider po uruchomieniu aplikacji.</p>

