@model MovieModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj nowy film</h1>
<form asp-controller="Movies" asp-action="Create" method="post">
    <div class="form-grup">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
        <input class="form-control" asp-for="Title" />
    </div>
    
    <div class="form-group">
        <label for="filter">Filtr producentów</label>
        <input class="form-control mb-3" type="text" name="filter" id="filter"/>
        <label asp-for="CompanyId"></label>
        <select class="form-control mb-3" asp-for="CompanyId"></select>
    </div>
    
    ...
    
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Zapisz</button>
    </div>
</form>

@section Scripts{
    <script>
        let select = document.getElementById("CompanyId");
        let filter = document.getElementById("filter");
        filter.onchange = function (e) {
            if (filter.value.length == 0) {
                return;
            }
            fetch(`/api/companies?filter=${filter.value}`)    //url do API udstepniającego obiekty
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw "No OK, actual status " + response.status;
                })
                .then(json => {
                    select.innerHTML = '';
                    for (let item of json) {
                        let option = document.createElement('option');
                        option.setAttribute('value', item.companyId);// id pobieranego z API obiektu
                        option.innerText = item.companyName;      //nazwa pobieranego z API obiektu
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('Cant get data from api', e);
                });
        };
    </script>
}
